* {
    box-sizing: border-box;
    font-family: sans-serif;
}

@font-face {
    font-family: kaushan;
    src: url(KaushanScript-Regular.otf);
}

body{
    margin: 0;
}

.godnav {
    background-color: rgb(107, 53, 15);
    position: fixed;
    padding-left: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.godnav .combine a {
    color: black;
    padding: 2px 15px;
    text-decoration: none;
    display: block;
    margin-left: 0;
   
}

#home{
    color: white;
    padding-left: 8px;
    text-decoration: none;
    display: block;
    font-family: kaushan;
}

.active{
    font-size: 50px;
}

.collapsible{
    color: black;
    background-color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    width: 80%;
    height: 50px;
    border: none;
    text-align: center;
    outline: none;

}

.collapsible:hover{
    background-color: gray;
}

.content{
    display: none;
    overflow: hidden;
    z-index: 1;
    width: 80%;
    height: 60px;
    margin: 0px 5px;
    text-align: center;
}

.content a{
    padding: 10px 14px;
    margin-top: 6px;
    background-color:white;
}

.content a:hover{
    background-color: gray;
}

.combine{
    width: 90px;
    margin-right: 30px;
}

h1{
    margin-top: 0px;
}

.Gray{
    padding-top: 130px;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient( white,slategray, black);
}

.GText{
    width: 50vw;
    padding-left: 20px;
    color: white;
    text-shadow: 2px 2px 3px black;
}

.GraySocial{
    padding-bottom: 20px;
}

.ImagesGray{
    display: flex;
    flex-direction: column;
}

img{
    width: 40vw;
    height: 55vh;
    margin: 10px;
}

h1{
    margin: 0;
}

h2{
    margin-bottom: 5px;
}

.titles{
    font-style: italic;
    font-size: 16px;
}

#GodH {
    scroll-margin-top: 120px;
}

#GodP {
    scroll-margin-top: 160px;
}

.DeathAndLonging{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(55, 55, 170);
    /* mediascreen måste ändra så att det blir 100 vw på texterna och bilderna när det blir mindre skärm */
}

.DNLText{
    width: 50vw;
    padding-left: 20px;
    color: white;
}

.ImagesDNL{
    display: flex;
    flex-direction: column;
}

.DNLSocial{
    padding-bottom: 20px;
}

#Godh {
    scroll-margin-top: 120px;
}

#Godp {
    scroll-margin-top: 160px;
}

@media screen and (max-width:750px){
    .Gray{
        flex-wrap: wrap;
    }
    .GText{
        width: 90vw;
    }
    .ImagesGray{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .DeathAndLonging{
        flex-wrap: wrap;
    }
    .DNLText{
        width: 90vw;
    }
    .ImagesDNL{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media  screen and (max-width:620px) {
    #home{
        font-size: 35px;
    }
}