body{
    margin: 0;
}

.godnav {
    background-color: aqua;
    position: fixed;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.godnav a {
    color: black;
    padding-left: 8px;
    text-decoration: none;
    display: block;
}

.active{
    font-size: 50px;
}

.collapsible{
    background-color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    width: 195px;
    height: 50px;
    border: none;
    text-align: center;
    outline: none;

}

.collapsible:hover{
    background-color: gray;
}

.content{
    display: none;
    overflow: hidden;
    z-index: 1;
    width: 100px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.combine{
    width: 400px;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
}

.combine .content{
    display: flex;
    flex-direction: column;
}

.content a{
    padding: 2px;
    margin-top: 6px;
    background-color: gray;
}

#GodH{
    margin-top: 0px;
}

.Gray{
    padding-top: 90px;
    display: flex;
    justify-content: space-around;
}

.GrayText{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.GText{
    width: 50vw;
    padding-left: 20px;
}

.GrayHistory{
    width: 100%;
}

.ImagesGray{
    display: flex;
    flex-direction: column;
}

img{
    width: 40vw;
    height: 55vh;
    margin: 10px;
}